
#page-header.header-maxwidth {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
#page-header.header-maxwidth .position-absolute.w-100.h-100 {
    background: none !important;
    display: none !important;
}


#page-header .header-sub-section, 
.instructor-info, 
li#module-21 {
    display: none !important;
}


body, #page-wrapper, .drag-container, #page {
    background-image: url('https://cdn.jsdelivr.net/gh/educontinuavirtualvreps-arch/cursos-moodle@main/imagenes/CONSULTA%20PREVIA%20-_textura%20(1).png') !important;
    background-size: auto !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
}

#page.drawers, 
#page.drawers .main-inner, 
#topofscroll {
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: none !important;
    width: 100% !important;
    padding: 0 !important;
}

#topofscroll .container,
.main-inner .container {
    background-color: #ffffff !important; 
    border-radius: 16px !important; 
    padding: 35px !important; 
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1) !important; 
    max-width: 1320px !important;
    margin: 30px auto !important; 
}


#trailiconcontainer {
    background-image: url('https://cdn.jsdelivr.net/gh/educontinuavirtualvreps-arch/cursos-moodle@main/imagenes/Gemini_Generated_Image_5x0vqk5x0vqk5x0v.png') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    padding: 40px 20px !important;
    border-radius: 12px !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
/* 1. Ocultar la barra de estadísticas por defecto para los estudiantes */
#wdm_course_stats.edw-stats-wrapper {
    display: none !important;
}

body.editing #wdm_course_stats.edw-stats-wrapper {
    display: flex !important;
}
