
#page-header.header-maxwidth {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
#page-header.header-maxwidth .position-absolute.w-100.h-100 {
    background: none !important;
    display: none !important;
}

.header-sub-section,
#page-header .header-sub-section,
.instructor-info.stat-container {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

ul.section.img-text li#module-21 {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
body, #page-wrapper, .drag-container, #page {
    background-image: url('https://cdn.jsdelivr.net/gh/educontinuavirtualvreps-arch/cursos-moodle@main/imagenes/CONSULTA%20PREVIA%20-_textura%20(1).png') !important;
    background-size: cover !important; 
    background-position: center center !important; 
    background-repeat: no-repeat !important; 
    background-attachment: fixed !important; 
}

#page.drawers .main-inner {
    background-color: rgba(255, 255, 255, 0.92) !important;
    border-radius: 12px !important;
    padding: 25px !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05) !important;
}
