
#page-header.header-maxwidth {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
#page-header.header-maxwidth .position-absolute.w-100.h-100 {
    background: none !important;
    display: none !important;
}

div#page-header.hasbackground.design-1 div.header-sub-section {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
}

ul.section.img-text li#module-21 {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
